<!doctype html>
<html ng-app="demo">
<head>
    <title>Hello AngularJS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
<script src="restController.js"></script>
<div ng-controller="Hello">
    <p>The ID is {{greeting}}</p>
</div>
</body>
</html>